article, aside, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

body {
	margin: 0;
	font-family: arial,helvetica,sans-serif;
	background-color: #008080;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	font-family: arial,helvetica,sans-serif;	
	background-color: #008080;
	width: 1126px;
}

main {
	margin: 0;
	padding: 0;
	border-radius: 5px;
	border-color: #00E6E6;
	font-family: arial,helvetica,sans-serif;	
	background-color: #008080;
}

dt {
	font-weight: bold;
	padding: 10px;
}

dd {
	padding-top: 0;
	padding-bottom: 5px;
}

h2 {
	margin: 2px 0 2px 0;
}

h3 {
	margin: 2px 0 2px 0;
}

h4 {
	margin: 2px 0 2px 0;
}

h5 {
	margin: 2px 0 2px 0;
}

h6 {
	margin: 2px 0 2px 0;
}

p {
	margin: 2px 0 8px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#form1 {
	padding: 0;
	font-family: arial,helvetica,sans-serif;	
	background-color: #008080;
}

.bold-paragraph {
	font-weight: bold;
	font-style: italic;
}

.bold-font {
	font-weight: bold;
}

.catch-phrase {
	font-weight: bold;
	font-style: italic;
}

.code-font {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.disclaimer {
	font-family: arial,helvetica,sans-serif;
	font-size:x-small;
	text-align: center;	
	padding: 10px;
	margin: 10px 0px 10px 0px;
}

.clear {
	clear: both;
}

.hidvar {
	visibility: hidden;
}

.logo {
	float: right;
}

.topmenu {
	list-style: none;
	height: 2em;
	padding: 0;
	margin: 0;
	border: none;
}

.topmenu li {
	float: left;
	margin-right: 3px;
}

.topmenu li a {
	display: block;
	padding: 0 16px;
	text-decoration: none; 
	border:1px solid #00E6E6;
	border-bottom:0;
	font:bold 14px/24px arial,helvetica,sans-serif;
	color:#000; background-color:#008080;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.topmenu li a:hover {
	background:#34dddd;  
	color:#fff;
	text-decoration:none;
}

.topmenu li#current a {
	background-color: #78d5e3;
	border: 2px solid #003366;
	border-bottom: 0;
	color: #000;
}

.topmenu li#current a:hover {
	background: #7af5f5;
}

.text_input {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border-radius: 5px;
	padding: 2px;
}

.radio_button {
	border-radius: 5px;
}

.section {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 1100px;
}

.group {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 1078px;
}

.subgroup {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 1060px;
}

.singlequestion {
	display: inline;
	box-sizing: border-box;
	padding: 5px;
	margin: 0 10px 0 0;
}

/* Help Hover Menu Start */
/*
.help ul {
	padding: 0;
	list-style: none;
}
.help ul li{
	text-align: center;
	width: 240px;
}
.help ul li a{
	display: block;
	padding: 5px 10px;
	color: #333;
	background: #f2f2f2;
	text-decoration: none;
}
.help ul li a:hover{
	color: #fff;
	background: #939393;
}
.help ul li ul{
	display: none;
}
.help ul li:hover ul{
	display: block; /* display the dropdown *//*
	position: relative;
}
*/
/* Help Hover Menu End */

ul.submenu {
  display:none;
 }
 ul.submenu:hover{
 display:block;
 }
 ul.submenu li.sub_list_item {
 width:100px;
 background:blue;
 color:#fff;
 line-height:30px;
 height:30px
 }

/* Help page Settings Start */	
.section-help {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 800px;
}

.group-help {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 778px;
}

.subgroup-help {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	width: 760px;
}

.singlequestion-help {
	display: inline;
	box-sizing: border-box;
	padding: 5px;
	margin: 0 10px 0 0;
}

.sidebar-help {
	border: 1px solid;
	border-radius: 5px;
	border-color: #00E6E6;
	padding: 10px;
	margin: 2px 0 10px 841px;
	width: 260px;
	position: fixed;
}
/* Help Page Settings End */

.submit_input {
	font-weight: bold;
	font-size: large;
	border-radius: 5px;
	border-color: #99e7eb;
	background-color: #99e7eb;
	padding: 5px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.repo-logo {
	margin: 20px 0 20px 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.left-logo {
	display: inline;
	float: left;
	width: 80px;
	margin-left: 0;
	margin-right: auto;
}

.right-logo {
	display: inline;
	float: right;
	width: 80px;
	margin-left: auto;
	margin-right: 0;
}

.step-list li {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sub-list1 li {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 20px;
}

.sub-list2 li {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 40px;
}

.unnumbered li {
	list-style-type: none;
}

.version {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;	
}
